[user]
  email = zach.z.liu@gmail.com
  name = zachliu

[core]
  editor = nvim
  autocrlf = input
  safecrlf = true
  pager = delta

[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  root = rev-parse --show-toplevel

[credential "https://github.com"]
  username = zachliu

[credential]
  helper = cache --timeout=36000

[pull]
  rebase = true

[delta]
  plus-style =  syntax "#214f11" # set background color
  syntax-theme = Monokai Extended
  dark = true
  side-by-side = true

[interactive]
  diffFilter = delta --color-only

[push]
  autoSetupRemote = true
  default = current
[http]
	cookiefile = /home/zach/.gitcookies
